<!-- Sidebar-->
<div class="border-end bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active">Gamezonia</a>
    </div>
    <div class="list-group list-group-flush">
        <a [routerLink]="['/admin']" class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"><i class="fa-solid fa-table-columns"></i> Dashboard</a>
        <a [routerLink]="['/admin/users']" class="list-group-item list-group-item-action list-group-item-light p-3"
            href="#!"><i class="fas fa-id-card"></i> Users</a>

    </div>
</div>